*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color:rgb(245, 240, 240);
    background-color: #2b2b2b;
}

/* Encabezado */
header{
    text-align: center;
    padding: 50px 20px;
    background-color: black;
    color: ghostwhite;
}

header h1{
    margin: 0;
    font-size: 42px;
}

header p{
    margin-top:10px;
    font-size: 20px;
    font-family: Lucida Sans Unicode;
    font-style: italic;
}

/* navegacion */

nav{
    display: flex;
    justify-content: center;
    gap:25px;
    padding: 20px;
    background-color: rgb(209, 146, 0);
    border-bottom: 1px solid #915a01;
}

nav a{
    color: rgb(119, 173, 200);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

/* contenido principal */

main{
    max-width: 1100;
    margin: 0 auto;
    background-color: #2b2b2b;
}

/* secciones */

section {
    padding: 60px 40px;
    border-bottom:1px solid #616161;
}

section h2{
    margin-top: 0;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;

}

/* Seccion de inicio */
.seccion-inicio{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.seccion-contenido{
    width: 700px;
}

.seccion-contenido h2{
    font-size: 42px;
    margin-bottom: 15px;
}

.seccion-contenido p{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Boton */
.boton,button{
    display: inline-block;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.boton:hover,button:hover{
    background-color: greenyellow;
    color: blue;
}


/* seccion sobre mi */

.sobre-mi-contenido{
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 80px;
    margin: 0 auto;
}

.sobre-mi-contenido img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.sobre-mi-contenido p{
    font-size: 18px;
}

.lista-habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.lista-habilidades li{
    padding: 12px;
    background-color: rgb(255, 110, 0);
    border: 3px solid rgb(149, 75, 26);;
    border-radius: 5px;
    font-weight: bold;
}

.contenedor-proyectos{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.proyecto{
    flex: 1;
    min-width: 250px;
    padding: 25px;
    border: 1px solid rgb(149, 75, 26);
    border-radius: 8px;
    background-color: rgb(255, 110, 0);
}

.proyecto h3{
    margin-top: 0;
    font-size: 22px;
}

.proyecto a{
    color: rgb(141, 159, 241);
    font-weight: bold;
}